* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: blue;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: Source Code Pro;
    font-size: 50px;
    text-shadow: 5px 5px 10px black, 0 0 1em black, 0 0 0.2em black;
    padding-left: 25px;
    color: white;
    text-align: left;
    background-color: blue;
    flex-grow: 2;
}

#sitenav {
    font-family: Source Code Pro, Arial, Helvetica, sans-serif;
    font-size: 25px;
    flex-grow: 1;
}

#sitenav ul {
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#sitenav ul li {
    color: white;
    padding: 0 10px;
    margin: 0 5px;
}

#sitenav a {
    color: white;
    text-decoration: none;
}

#sitenav a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}



main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
}

#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutmepic {
    margin-top: 25px;
    width: 225px;
    border-radius: 50%;
}

main p {
    font-family: Source Code Pro, Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 30px;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
}

#sociallinks {
    font-family: Source Code Pro, Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sociallinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sociallinks ul li {
    padding: 0 10px;
}